# Week 12 Lesson 3 #

## Using SQL for Data Manipulation ##

In this lesson, you will learn how to add, change, delete, and select
data by using the SQLite database. First, you will learn about the SQL
INSERT command, which you will use to insert data into a SQLite
database. Second, you will learn about the SQL SELECT query command,
including the use of operators, expressions, and a WHERE clause to
extract data from a SQLite database. Next you will learn about making
more complex SQL queries by creating compound SQL statements with the
AND and OR clauses. Next, you will learn about changing or deleting
data from a SQLIte database by using the SQL UPDATE and DELETE commands.
Finally, you will learn more advanced SQL commands to create more
powerful queries for extracting, changing, or deleting data from a
SQLite database. 

In this lesson, you can also try some of these SQL statements out on
other databases by using the online SQL emulator located at
[http://sqlzoo.net/wiki/SQL_Tutorial](http://sqlzoo.net/wiki/SQL_Tutorial).
By changing the Engine drop-down box,
you can choose to execute SQL against a MySQL, Oracle, SQL Server,
PostgreSQL, Ingres, or DB2 database.

### Objectives ###

By the end of this lesson, you will be able to:

- Understand how to insert data into a SQL database.
- Understand how to extract data from a SQL database.
- Understand how to change data in a SQL database.
- Understand how to delete data in a SQL database.

### Time Estimate ###

Approximately 2 hours.

### Readings ####

#### Video

[Week 12 Lesson 3 Video](https://mediaspace.illinois.edu/media/t/1_5njiwfi6/76031081)

#### Required Readings

- Introduction to [SQL DML Notebook](intro2sqldml.ipynb)

#### *Optional Additional Readings*####

- [Database and SQL Tutorial](http://www.tutorialspoint.com/sql/index.htm): From the SQL-Insert Query page through the SQL-Sorting Results page.
- [SQLite Tutorial](http://www.tutorialspoint.com/sqlite/index.htm): From the SQLite-Insert Query page through the SQLite-Distinct page
- [SQL Tutorial](http://www.w3schools.com/sql/)
- [SQL Online Tutorial](http://sqlzoo.net/wiki/Main_Page)

### Assessment ###

When you have completed and worked through the above readings, please take the [Week 12 Lesson 3 Assessment][w12la]
[w12la]: https://learn.illinois.edu/mod/quiz/view.php?id=2169185